body {
    font-family: "Helvetica", "Helvetica", sans-serif;
}

h1 {
    color: white;
    padding:10px;
    text-align: center;
}
.title_div{
    width: 100%;
    background: maroon;
}
.hud {
    color: black;
    padding: 4px;
    border-style:solid;
}


.tabulator-col-title{
    color: black;
    text-align: center;
}

.tabulator-row{
    color: black;
    text-align: center;
]}

.tabulator-row-odd{
    background-color: white;
}

.tabulator-row-even{
    color: black;
}