<!DOCTYPE html>

<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript"  src="{{ url_for('static', filename='js/main.js') }}"></script>
        <title>My Review</title>
    </head>
    <body>
        <h1 style="font-family: "Comic Sans MS", "Comic Sans", cursive">My Review</h1>
        <button onclick="run_scraper()">Do the thing.</button>
        <div id='display' name='display'></div>
    </body>
</html>

